

* {
	outline: 0px;
}

pre {
	background-color: #a0c0c0;
	border: thin #80a080;
	padding: 1em;
}

ul.information {
	font-size: 1.25em;
}

// .window {
// 	height: 100%;
// 	overflow-y: hidden;
// }

